.left {
    background-color:#3a8a5be1;
    color: #fdfdfd;
    height: 100%;
    width: 30%;
}
  
.right {
   background-color: #fdfdfd;
   color: #3a8a5be1;
   height: 100%;
   width: 70%;
   margin-left: 20px;
   margin-top: 50px;
}

.CV {
    display: flex; 
}

.languages-container{
    display: flex;
    flex-direction: column;
    
}

.languages-item {
    display: flex; 
    margin-right: 70px;
    align-items: left;
    justify-content: space-between;
}

.language-circles{
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    margin-left: 5px;
    align-items: center;
  
}

.circles{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 2px;
    margin-right: 2px;
}

.left-full-circle{
    background-color: #fdfdfd;
}

.left-empty-circle{
    background-color: #d0dad49c;
}

.line{
    background-color: #d0dad49c;
    height: 5px;
    width: 100px;
    border-radius: 10%;
    display: flex;
    margin-bottom: 20px;
}

.info-block{
    display: flex;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 50px;
    flex-direction: column;
}

.language{
    display: flex;
    justify-content: left;
}

h4{
    margin-bottom: 5px;
}

p{
    margin-top: 5px;
    margin-bottom: 10px;
}

h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.grid{
    display: grid;
    grid-template-columns: 160px 1000px;
    grid-template-rows: 50px 200px 60px;
    gap: 5px;
}

.grid-item{
    height: 200px;
    width: 1000px;
}

.company{
    font-size: medium;
}

img{
    border-radius: 50%;
    height: auto;
    width: 200px;

}

.position{
    font-style: italic;
    font-size: 200%;
    margin-bottom: 50px;
}

.education-item{
    height: 50px;
    width: 1000px;
}

.skills-container{
    display: flex;
    flex-direction: column;
}

.skills-item {
    display: flex; 
    margin-right: 70px;
    align-items: left;
    justify-content: left;
}

.skills-circles{
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    margin-left: 5px;
    align-items: center;
}


.right-full-circle{
    background-color: #3a8a5be1;
}

.right-empty-circle{
    background-color: #d0dad49c;
}

.skill-grid{
    display: grid;
    grid-template-columns: 250px 1000px;
    grid-template-rows: 50px 20px 80px;
    gap: 5px;
}

.skill-grid-item{
    height: 20px;
    width: 1000px;
}